@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BeUrDJ_MVC.Models.ViewModels.UpdateQueueViewModel
<link rel="stylesheet" type="text/css" href="~/css/queueMobile.css">
<div>
    <table id="queueTable" class="table">
        <colgroup>
            <col style="width:200px">
            <col style="width:30%">
            <col style="width:1%">
            <col style="width:60%">
        </colgroup>
        <tbody>
            @foreach (var item in Model.QueueDTOs)
            {

                @if (item.PlayStateID == 3)
                {
            <tr class="currentlyPlaying">
                <td class="currentSongImage">
                    <img class="thisSongImage" src="@Html.DisplayFor(modelItem => item.SongImage)" />
                </td>

                <td class="currentArtist">
                    @Html.DisplayFor(modelItem => item.SongName) By @Html.DisplayFor(modelItem => item.ArtistName)
                </td>

                <!--
    <td>
        @Html.DisplayFor(modelItem => item.ArtistName)
    </td>
        -->

                <td id="likes_@item.SongID" class="currentLikes">
                    Likes: @Html.DisplayFor(modelItem => item.Likes)
                </td>
                <td>

                </td>


                        <!--<td>
                    <img class="thumbs" role="button" src="~/img/like.png" alt="" onclick="javascript: return LikeSong(@item.SongID,@item.Likes)" />
                    <img class="thumbs" role="button" src="~/img/dislike.png" alt="" onclick="javascript: return DislikeSong(@item.SongID,@item.Likes)" />
                </td>
            -->
                </tr>

                }
                @if (item.PlayStateID == 2)
                {
                    <tr class="upNext">
                        <td class="nextSongImage">
                            <img class="thisSongImage" src="@Html.DisplayFor(modelItem => item.SongImage)" />
                        </td>

                        <td class="nextArtist">

                            @Html.DisplayFor(modelItem => item.SongName) By @Html.DisplayFor(modelItem => item.ArtistName)
                        </td>

                        <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.ArtistName)
                        </td>
                                -->
                        <td id="likes_@item.SongID" class="nextLikes">
                            Likes: @Html.DisplayFor(modelItem => item.Likes)
                        </td>
                        <td class="nextSongImage">
                        </td>
                        <!-- <td>
                            <img class="thumbs" role="button" src="~/img/like.png" alt="" onclick="javascript: return LikeSong(@item.SongID,@item.Likes)" />
                            <img class="thumbs" role="button" src="~/img/dislike.png" alt="" onclick="javascript: return DislikeSong(@item.SongID,@item.Likes)" />
                        </td> -->
                    </tr>
                }
                @if (item.PlayStateID == 1)
                {

                    <tr class="notPlayed">
                        <td class="notPlayedSongImage">
                            <img class="thisSongImage" src="@Html.DisplayFor(modelItem => item.SongImage)" />
                        </td>

                        <td class="notPlayedArtist">
                            @Html.DisplayFor(modelItem => item.SongName) By @Html.DisplayFor(modelItem => item.ArtistName)
                        </td>

                        <!--
                            <td>
                                @Html.DisplayFor(modelItem => item.ArtistName)
                            </td>
                        -->
                        <td id="likes_@item.SongID" class="notPlayedLikes">
                            Likes: @Html.DisplayFor(modelItem => item.Likes)
                        </td>
                        <td>
                            <img id="like" class="thumbs" role="button" src="~/img/like.png" alt="" onclick="javascript: return UpdateLike(@item.SongID,1)" />
                            <img id="dislike" class="thumbs" role="button" src="~/img/dislike.png" alt="" onclick="javascript: return UpdateLike(@item.SongID,-1)" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
